<div id="<%= dom_id employee %>">
  <p>
    <strong>Ctps:</strong>
    <%= employee.ctps %>
  </p>

  <p>
    <strong>Salary base:</strong>
    <%= employee.salary_base %>
  </p>

  <p>
    <strong>Hours:</strong>
    <%= employee.hours %>
  </p>

  <p>
    <strong>Commission percent:</strong>
    <%= employee.commission_percent %>
  </p>

  <p>
    <strong>User:</strong>
    <%= employee.user_id %>
  </p>

</div>
