<div id="<%= dom_id store %>">
  <p>
    <strong>Kind:</strong>
    <%= store.kind %>
  </p>

  <p>
    <strong>Theme:</strong>
    <%= store.theme %>
  </p>

  <p>
    <strong>Payroll day:</strong>
    <%= store.payroll_day %>
  </p>

  <p>
    <strong>Administrator:</strong>
    <%= store.administrator_id %>
  </p>

</div>
