<div id="<%= dom_id store %>">
  <p>
    <strong>Kind:</strong>
    <%= store.kind %>
  </p>

  <p>
    <strong>Theme:</strong>
    <%= store.theme %>
  </p>

  <p>
    <strong>Payroll day:</strong>
    <%= store.payroll_day %>
  </p>

  <p>
    <strong>Administrator:</strong>
    <%= store.administrator_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= store.name %>
  </p>

  <p>
    <strong>Facebook:</strong>
    <%= store.facebook %>
  </p>

  <p>
    <strong>Instagram:</strong>
    <%= store.instagram %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= store.twitter %>
  </p>

</div>
