<%= form_with(model: payroll) do |form| %>
  <% if payroll.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(payroll.errors.count, "error") %> prohibited this payroll from being saved:</h2>

      <ul>
        <% payroll.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :date_of_payroll, style: "display: block" %>
    <%= form.date_field :date_of_payroll %>
  </div>

  <div>
    <%= form.label :commission, style: "display: block" %>
    <%= form.text_field :commission %>
  </div>

  <div>
    <%= form.label :discount, style: "display: block" %>
    <%= form.text_field :discount %>
  </div>

  <div>
    <%= form.label :salary, style: "display: block" %>
    <%= form.text_field :salary %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :employee_id, style: "display: block" %>
    <%= form.text_field :employee_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
