<div id="<%= dom_id payroll %>">
  <p>
    <strong>Date of payroll:</strong>
    <%= payroll.date_of_payroll %>
  </p>

  <p>
    <strong>Commission:</strong>
    <%= payroll.commission %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= payroll.discount %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= payroll.salary %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= payroll.description %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= payroll.employee_id %>
  </p>

</div>
