<div id="<%= dom_id purchase %>">
  <p>
    <strong>User:</strong>
    <%= purchase.user_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= purchase.price %>
  </p>

  <p>
    <strong>Paid:</strong>
    <%= purchase.paid %>
  </p>

    <p>
    <strong>Closed:</strong>
    <%= purchase.closed %>
  </p>

  <p>
    <strong>Packagesize:</strong>
    <%= purchase.packageSize %>
  </p>

  <p>
    <strong>Receive:</strong>
    <%= purchase.receive %>
  </p>

</div>
