<%= form_with(model: item_purchase) do |form| %>
  <% if item_purchase.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item_purchase.errors.count, "error") %> prohibited this item_purchase from being saved:</h2>

      <ul>
        <% item_purchase.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :purchase_id, style: "display: block" %>
    <%= form.text_field :purchase_id %>
  </div>

  <div>
    <%= form.label :product_id, style: "display: block" %>
    <%= form.text_field :product_id %>
  </div>

  <div>
    <%= form.label :value, style: "display: block" %>
    <%= form.text_field :value %>
  </div>

  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
