<div id="<%= dom_id item_purchase %>">
  <p>
    <strong>Purchase:</strong>
    <%= item_purchase.purchase_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= item_purchase.product_id %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= item_purchase.value %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= item_purchase.quantity %>
  </p>

</div>
