<p style="color: green"><%= notice %></p>

<%= render @item_purchase %>

<div>
  <%= link_to "Edit this item purchase", edit_item_purchase_path(@item_purchase) %> |
  <%= link_to "Back to item purchases", item_purchases_path %>

  <%= button_to "Destroy this item purchase", @item_purchase, method: :delete %>
</div>
