<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= product.weight %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= product.width %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= product.length %>
  </p>

  <p>
    <strong>Valuesell:</strong>
    <%= product.valueSell %>
  </p>

  <p>
    <strong>Valuebuy:</strong>
    <%= product.valueBuy %>
  </p>

  <p>
    <strong>Depth:</strong>
    <%= product.depth %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= product.quantity %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product.category_id %>
  </p>

</div>
